{% extends 'base.html' %}
{% block content %}
    <div id="question-list">
        {% include 'survey/questions.html' %}
    </div>
   
{% endblock %}



{% block js %}
    <script>

        function answer(e) {
            let id = $(e).data("question");
            let value = $(e).data("value");

            $.ajax({
                url: "{% url 'survey:question-answer' %}",
                method: "post",
                data: {
                    "question_pk": id,
                    "value": value,
                    "csrfmiddlewaretoken": "{{csrf_token}}"
                },
                success: function(data) {
                  
                    refreshQuestions();
                },
                error: function() {
                }
            })
            
            
        } 

        function likeDislike(e) {
            let id = $(e).data("question");
            let value = $(e).data("value");
            $.ajax({
                url: "{% url 'survey:question-like' %}",
                method: "post",
                data: {
                    "question_pk": id,
                    "like_value": value,
                    "csrfmiddlewaretoken": "{{csrf_token}}"
                },
                success: function(data) {
                    
                    refreshQuestions();
                },
                error: function() {
                    
                }
            })
            

        }

        function refreshQuestions() {
            $.get("{% url 'survey:question-template' %}", function(html) {
                $("#question-list").html(html);
            }, "html");
        }

       

        


    </script>
{% endblock %} 